/* @import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* outline: 3px solid rgba(0, 255, 247, 0.152); */
}

a:link, a:visited {
    color: inherit;
    cursor: pointer;
}

:root {
    --primary: #ffea29;
    --secondary:#1f1f1f; 
    --pink-washed: #fbe7eb;
    --yellow-washed: #fffda8; 
    --blue-washed: #aec9e5; 
    --orange-washed: #ffc88a; 

    --lightest: #fff;
    --darkest: #4a4f6b;

    --light-gray:#F5F7FB;
    --dark-gray:#888DA7;
    --mid-gray:#DBDEF3;

    --border-color: #343434;
    --crimson: #dc143c;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background: white;
}

h1, h2, h3, h4, h5 {
font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

p {font-size: 1.1rem;}
h1 {font-size: 3rem; /* 67.36px */}
h2 {font-size: 2rem; /* 50.56px */}
h3 {font-size: 2rem; /* 37.92px */}
h4 {font-size: 1rem; /* 28.48px */}
h5 {font-size: 1rem; /* 21.28px */}

small {font-size: 1rem; /* 12px */}


.main {
    width: 95vw;
    margin-inline: auto;
    padding-inline: 2%;
    padding-block: 2rem;
}

/* HERO ---------------------- */


/* HEADER */
.header-wrapper {
    /* position: absolute; */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 2rem;
    padding-inline: 1rem;
    margin-inline: auto;
    width: 100%;
    height: 5rem;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.header-wrapper.scrolled {
    background: #000;
}   

/* .header-wrapper.scrolled ul li a {
    color: var(--crimson);
}  */

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header-hero-image {
    margin-inline: auto;
    width: 99vw;
    height: 80vh;
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.header-hero-image_details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
    line-height: 2;
}

.header-hero-image_details h1 {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: capitalize;
    background: #FFEA29;
    background: linear-gradient(to right, #FFEA29 0%, #ff4242  100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.header-hero-image_details p {
    font-weight: 300;
    color: var(--light-gray);
    
}

.btn-hero {
    margin-top: 2rem;
    color: #000;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));
} 

.header-logo-img {
    width: 45px;
}

.header-links ul {
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 2rem;
    text-decoration: underline;
    color: var(--lightest);
    padding: 1rem;
    /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    border-radius: 4px; */
 
}
.header-links ul li a{
    color: var(--light-gray);
    transition: color 0.4s ease-in-out;
}

.header-links ul li a:hover {
    color: var(--primary);
    text-decoration: underline;
    transition-duration: 0.4s;
}

.header-icons {
    margin-right: 1rem;
}
.cart-icon-wrapper {
    position: relative;
}

/* PROFILE --------------------------------------- */
.profile-wrapper {
    color: var(--lightest);
    display: flex;
    gap: 1rem;
    margin-right: 3rem;
}

.profile-wrapper .btn {
    font-size: .8rem;
    font-weight: 600;
} 


.cart-amount {
 top: -10px;
 left: 25px;
 position: absolute;
 width: 35px;
 height: 35px;
 border-radius: 50px;
 background: var(--primary);
 display: grid;
 place-items: center;
 font-size: 1rem;
 font-weight: 700;
}


/* BUTTONS ----- */
.btn {
    background-color: var(--primary); 
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    text-transform: capitalize;
    transition-duration: 0.4s;
    font-family: 'Poppins', sans-serif;
}
  
.btn:hover {
    background-color: var(--secondary);
    color: var(--primary);
    outline: 1px solid var(--primary);
}

.btn-hero {
    background-color: var(--primary); 
    border: none;
    color: black;
    padding: 12px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border-radius: 50px;
    text-transform: capitalize;
    transition-duration: 0.4s;
}

.btn-hero:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
    color: var(--primary);
    outline: 2px solid var(--primary);
}
  
.btn-sm{
    background-color: var(--primary); 
    border: none;
    color: black;
    padding: 6px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 50px;
    text-transform: capitalize;
    transition-duration: 0.4s;
    font-family: 'Poppins', sans-serif;
}
  
.btn-sm:hover {
    background-color: var(--secondary);
    color: var(--primary);
    outline: 1px solid var(--primary);
}  

.menu-btn {
    display: none;
    width: 3rem;
    color: var(--lightest);
    cursor: pointer;
}

.mobile-menu {
    display: none;   
    position: absolute;
    z-index: 10;
    right: 50px;
    top: 80px;
}

 .header-icons {
    display: flex;
    align-items: center;
    gap: 1.2rem;    
}
.svg-icon {
    width: 2.5rem;
    cursor: pointer;
    color: var(--light-gray);
}

/* SECTION  ---------------------- */
.section-heading {
    font-size: 2rem;
    display: block;
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
}
.bottom-line {
    height: 4px;
    width: 3rem;
    background: #f12336;
    display: block;
    margin: 0 auto 0.5rem auto;
}


.fitness {
    width: 20px;
    color: #dc143c;
}
.section-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    align-items: center;
    justify-content: center;
    margin-block: 2rem;
    gap: 1.5rem;
}

.section-logo ion-icon {
    font-size: 50px;
    color: var(--crimson);

}
.section-heading {
    text-align: center;
    margin-top: 2rem;
    
    
}
.services-header,
.section-header{
    text-decoration: underline;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #1f1f1f;
    font-weight: 600;
    line-height: 1.2;   
}
.services-header:hover,
.section-header:hover{
    background-clip: text; 
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #fd1544 0%, #a30f2d  100%);
    transition-duration: 0.4s;
}

.services-paragraph,
.section-paragraph {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 1rem;
    color: var(--darkest);
}

.section-box {
    background: var(--pink-washed);
    border-radius: 16px;
    padding: 1.5rem;
}


/* -- SERVICES --------------- */
.services-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    /* outline: 2px solid rgb(20, 133, 220) ; */
}

.services-box {
    background: var(--blue-washed);
    border-radius: 16px;
    padding: 1.5rem;
    display: flex;
}
.giftcard {
    width: 150px;
    height: 150px;
    border-radius: 12px;
}
.services-details {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.servings-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 1.5rem;
}

.servings-details {
    background: var(--orange-washed);
    border-radius: 16px;
    padding: 1.5rem; 
}

.servings-paragraph {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 1rem;
    color: #000;
}

.servings-digits {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: #000;
    border-bottom: 2px solid #ffb868;
}   

/* FOOTER --------- */

.footer {
    gap: 1.5rem;
    background: var(--secondary);
    color: white;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

.footer .main {
    padding-block: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 20px;
    
}
.outline {
    outline: 1px solid gold;
}

.inner-outline {
    outline: 2px solid rgb(140, 0, 240);
}

.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.footer-logo-img {
    width: 100px;
    height: 100px;
}
.footer-paragraph {
    color: var(--mid-gray);
    font-size: 1rem;
    line-height: 1.5;
    margin-top: .5rem;
}
.email {
    text-decoration: underline;
    color: var(--lightest);
}

.footer-links a{
    display: flex;
    flex-direction: column;
    color: var(--lightest);
    text-transform: capitalize;
    font-weight: 600;
    text-decoration: underline;
    font-size: 1.2rem;
}

/* #footer-heading {
    text-align: left;
    color: var(--lightest);
} */
.email:hover,
.footer-social ion-icon:hover, 
.footer-links a:hover {
    color: var(--primary);
    transition-duration: 0.4s;
}

.footer-social ion-icon {
    color: white;
    font-size: 1.8rem;
    margin-right: 10px;
}

/* SEARCH PRODUCT  ---------------------------- */

.search-wrapper {
    /* outline: 4px solid rgb(255, 196, 0); */
    /* background: pink; */
    margin:0 auto;
    /* position: absolute; */
}

.search-input {
    text-align: center;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    /* outline: 3px solid rgb(24, 193, 255); */
}

.search-input input {
    font-size: 1.3rem;
    width: 40%;
    padding-block: 1rem;
    padding-left: 2.5rem;
    padding-right: 1rem;
    /* position: absolute; */
    margin-right: 10px;
    border-radius: 50px;
    
}
/* 
.img{
    width: 50px;
    height: 50px; 
} 
*/

.search-input-wrapper {
    margin-inline: auto;

    /* outline: 3px solid rgb(24, 255, 224); */
} 
.search-icon {
    color: var(--dark-gray);
    font-size: 1.4rem;
    position: relative;
    top: 5px;
    left: 40px;
    z-index: 5;

}

/* .icon-inner {
    color: #dc143c;
    background: #000;
} */
.search-output {
    text-transform: capitalize;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-content: center;
    margin-bottom: 2rem;
    gap: 1.5rem;
    border-top: 1px solid var(--mid-gray);


    /* outline: 3px solid rgb(255, 190, 24); */
}

/* outline: 2px solid blueviolet ; */
.search-output h4 
 {
    font-size: 1.2rem;
    margin-top: 1rem;
}
.search-output p 
 {
    font-size: 1rem;
    color: var(--dark-gray);
}
/* .product-wrapper {
    outline: 2px solid blueviolet ;
} */

.btn-wrapper {
    display: grid;
    align-self: center;
    justify-self: center;
}


/* PRODUCT CARDS ----------------------------- */
.card-image {
    width: 20rem;
    height: 17rem;
    object-fit: cover;
    /* overflow:hidden ; */
    /* outline: 1px solid purple; */
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    
}

.card-details {
    /* border-bottom-left-radius: 12px; */
    /* border-bottom-right-radius: 12px; */
    border-radius: 12px;
    padding: 2rem;
    background: green;
    text-align: center;
    /* margin-top: -15px;
    z-index: 5; */
    /* position: absolute; */
    /* border: 9px solid var(--primary); */
    
}

.card-details p {
    font-size: 1rem;
    color: var(--light-gray);
    padding-block: 1rem;
    border-top: 1px solid var(--primary);
}    



.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-items: center;
  justify-content: center;
  /* justify-content:space-between; */
  /* gap: .25rem; */
  margin-block: 4rem;
  gap: 1.5rem;

  outline: 3px solid rgb(34, 255, 0); 
  
}

.card {
  width: 20rem;
  /* outline: 3px solid rgb(181, 1, 181); */
}

.heading {
  font-size: 1.4rem;
  color: var(--lightest);
  /* border-bottom: 1px solid; */
  
  margin-bottom: 1rem;
  /* border-width: 1px 1px; */
}

.card .btn {
  margin-top: 1rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

/* FORM ------------------------------ */

.register-form-wrapper,
.login-form-wrapper {
    width: 40vw;
    margin-inline: auto;
    /* border: 2px solid red; */
}
.register-wrapper h3,
.login-wrapper h3 {
    color: var(--darkest);
    text-align: center;
    margin-bottom: 2rem;
}

.form-input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
}
.form-input-field label {
    margin-bottom: 0.5px;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 500;
    color: var(--secondary);
}

.form-input-field label sup {
    color: red;
    font-size: 1rem;
 }
.form-input-field input {
    padding-block: 0.8rem;
    padding-inline: 2rem;
    font-size: 1.2rem;
    border-radius: 50px;
    border: 1px solid var(--blue-washed);
} 
.form-input-field input:focus {
    outline: 1px solid var(--darkest);
}

.form-inputs-wrapper {
    padding-bottom: 1.2rem;
}

.cta-wrapper {
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
    
}
.cta span {
    text-transform: capitalize;
    /* color: var(--crimson); */
    color: #f12336;
    font-weight: 600;
    /* text-decoration: underline; */
}    

/* PROFILE WRAPPER --------------------------- */

.profile-wrapper-sm {
    width: 260px;
    height: 235px;
    background: var(--secondary);
    /* background: #000; */
    position: absolute;
    top: 82px;
    right: 10px;
    border-radius: 16px;
    padding: 1rem;
    outline: 1px solid var(--border-color);
    display: none;
}

/* .profile-wrapper-sm.active {
    display: block;
} */
#profile-wrapper-sm.active {
    display: block;
}

.profile-image-sm {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    outline: 1px solid var(--border-color);
}

.image-wrapper {
  display: grid;
  place-items: center;
}

.profile-name-sm {
    font-size: 1rem;
    color: var(--lightest);
    text-align: center;
    margin-block: 1.2rem;
}
.profile-name-pro {
    font-size: 1rem;
    color: var(--secondary);
    text-align: center;
    margin-block: 1.2rem;
}

.profile-btns-sm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
} 
.profile-btns-sm .btn {
    font-size: .8rem;
    font-weight: bold;
}

/* PROFILE PAGE ---------------------------------- */


.profile-wrapper-pro {
    display: grid;
    grid-template-columns: minmax(20rem, auto) 1fr; 
    margin-top: 50px;
    /* gap: 1.5rem; */
    gap: 2rem;

    /* outline: 3px solid rgb(255, 183, 0); */
}


.profile-menu-pro {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 4rem;
    align-items: center;
    border-right: 1px solid var(--mid-gray);
    position: sticky;
    height: 84vh; 
    top: 85px;
    /* max-height: 100vh;  */
    
    /* outline: 3px solid rgb(255, 0, 153);  */
}


.profile-links {
    display: flex;
    flex-direction: column;
}

.profile-links li a {
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: underline;
  line-height: 1.8;
}

.profile-links li a:hover {
    color: var(--dark-gray);
}

.profile-details {
    /* outline: 3px solid rgb(8, 0, 255);  */
    padding: 1rem;
}

.profile-details h4 {
    font-size: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--mid-gray);
}

.change-password {
    margin-top: 4rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--blue-washed);
    font-style: italic;
    font-size: 0.8rem;
    color: var(--dark-gray);
}

.formx {
    
    /* outline: 3px solid rgb(8, 0, 255);  */
}


/* orders ---------- */

.orders {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* profile details */
/* .profile-details .profile-pro .register-form-wrapper {
    overflow-y: scroll;
} */


/* .sidebar { */
    /* width: 200px; */
    /* position: sticky; */
    /* top: 0; */
    /* max-height: 100vh;  */
    /* overflow-y: auto;  */
/* } */


/* ----------------------- media screen -------------------*/

@media(max-width: 991px) {
    .menu-btn {
    display: flex;
    }    
    .header-icons, 
    .header-links ul{
        display: none;
    } 

    .mobile-menu.active{
        display: flex;
    }
 
    /* mobile nav */
    .mobile-menu {
        display: flex;   
        line-height: 1.7;
        position: absolute;
        z-index: 10;
        left: 0;
        top: 80px;
        padding-inline: 3rem;
        width: 100%;
        height: 100vh;
        margin-inline: auto;
        background: var(--secondary);
}
    .mobile-menu li a {
 
            color: var(--lightest);
            
       }
    .mobile-menu ul {
        border-bottom: 1px solid var(--border-color);    
       }
    .mobile-menu  {
        display: none;
        flex-direction: column;
        gap: 20px; 
        overflow-y: auto;   
    }

    .mobile-menu--wrapper {
        margin-block: 2rem;
        margin-inline: auto;
        width: 100%;
        height: 100vh;
        
    }
    .mobile-menu--wrapper ul {
        margin-bottom: 2rem;
        padding-bottom: 2rem;
    }   
    .mobile-menu--wrapper ul li a {
      text-decoration: underline;
      font-weight: 700;
      font-size: 1.5rem;

    } 
    .mobile-menu--wrapper ul li a:hover {
        color: var(--primary);
        transition-duration: 0.4s;
    } 
    form {
        color: white;
    }

    .form-item-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 1px solid var(--border-color); 
    }

       /* SEARCH  ---------------------------- */
    form .form-item-wrapper input {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        font-size: 1rem;
        background: var(--secondary);
        border: 1px solid var(--primary);
        color: var(--lightest);
    }

    .search {
        background: var(--secondary);
        margin-top: 2rem;
        border-bottom: 1px solid var(--border-color);
    }
    .output-content {
        display: flex;
        justify-content: space-between;
        /* border: 1px solid red; */
    }

    .search-output--wrapper{
        display: flex;
        flex-direction: column;
    }
       
    .search-output--details{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: var(--lightest);
    }
    .search-output--header{
        color: var(--primary);
    }

    .search-output--image {
        width: 150px;
        height: 150px;
        border-radius: 4px;
    }
    .search-output--btns {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-block: 1.5rem;
    }   

    .search-output--btns  button {
        font-family: 'Poppins', sans-serif;
    } 
      .profile {
        color: #fff;
        margin-block: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
    } 

    /* SERVICES ------------------------------- */

    .services-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
    .giftcard {
        width: 120px;
        height: 120px;
        border-radius: 12px;
    }

    /* HEADER */
    .header-hero-image_details h1 {
        font-size: 3rem;
        line-height: normal;
     
        
    
    }

    /* PROFILE -------------------- */

    .profile-wrapper-pro {
        grid-template-columns: 1fr; /* Stack on smaller screens */
    }
}



/* @media(max-width: 500px) {
    .menu-btn {}
    .header-icons .header-links ul{}

} */